<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
    [nzTheme]="'dark'"
  >
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
        <h1 style="color: white;">
          博客管理中心
        </h1>
      </a>
    </div>
    <ul
      nz-menu
      nzMode="inline"
      [nzTheme]="'dark'"
      [nzInlineCollapsed]="isCollapsed"
    >
      <ng-container
        *ngTemplateOutlet="menuTpl; context: { $implicit: menus }"
      ></ng-container>
      <ng-template #menuTpl let-menus>
        <ng-container *ngFor="let menu of menus">
          <li
            *ngIf="!menu.children"
            nz-menu-item
            [nzPaddingLeft]="menu.level * 24"
            [nzDisabled]="menu.disabled"
            [nzSelected]="menu.selected"
            [routerLink]="menu.url"
            [nzMatchRouter]="true"
            (click)="addSideList(menu)"
          >
            <i nz-icon [nzType]="menu.icon" *ngIf="menu.icon"></i>
            <span>{{ menu.title }}</span>
          </li>
          <li
            *ngIf="menu.children"
            nz-submenu
            [nzPaddingLeft]="menu.level * 24"
            [nzOpen]="menu.open"
            [nzIcon]="menu.icon"
            [nzTitle]="menu.title"
            [nzDisabled]="menu.disabled"
          >
            <ul>
              <ng-container
                *ngTemplateOutlet="
                  menuTpl;
                  context: { $implicit: menu.children }
                "
              ></ng-container>
            </ul>
          </li>
        </ng-container>
      </ng-template>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          >
          </i>
        </span>
        <div style="display: inline-block; float: right; margin-right: 30px;">
          {{loginUser.username}}
          <nz-avatar
            nzIcon="user"
            nzSize="large"
            nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
            style="margin-left: 10px;"
            nz-dropdown
            [nzDropdownMenu]="menu"
            nzPlacement="bottomRight"
          >
          </nz-avatar>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item (click)="toBaseUserInfo()">
                <i nz-icon [nzType]="'home'" ></i>个人中心
              </li>
              <li nz-menu-item (click)="logOut()">
                <i nz-icon nzType="logout" nzTheme="outline" ></i>退出登陆
              </li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </nz-header>
    <nz-content style="position: relative; min-width: 1450px;">
      <div style="width: 100%; height: 50px; background-color: #00a8c6; vertical-align: center">
        <div style="display: inline-block; position: relative; height: 25px;
        margin-left: 5px; margin-right: 5px; border: 1px solid rgba(0,0,0,0.3);
        background-color: whitesmoke; border-radius: 5px"
             *ngFor="let side of sideList">
          <i nz-icon nzType="close" nzTheme="outline"
             tyle="position: absolute; right: 0px; top: 0px"></i>
          <span style="color: rgba(0,0,0,0.8); margin: auto 5px">
            {{side.title}}
          </span>
        </div>
      </div>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
