<!--<nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">-->
<!--  <nz-tab nzTitle="推荐列表">-->
<!--    <nz-card>-->
<!--      <h2 style="display: inline-block">{{ recommendName }}推荐列表：</h2>-->
<!--      <nz-button-group>-->
<!--        <button nz-button (click)="this.recommendName = '首页'; this.getList()">-->
<!--          首页-->
<!--        </button>-->
<!--        <button nz-button (click)="this.recommendName = '侧栏'; this.getList()">-->
<!--          侧栏-->
<!--        </button>-->
<!--      </nz-button-group>-->
<!--      <button nz-button (click)="recommendClick()" style="float: right">-->
<!--        添加推荐文章-->
<!--      </button>-->
<!--      <nz-table #basicTable [nzData]="homepageList" [nzFrontPagination]="false">-->
<!--        <thead>-->
<!--          <tr>-->
<!--            <th width="250px">ID</th>-->
<!--            <th>Banner</th>-->
<!--            <th>标题</th>-->
<!--            <th>分类</th>-->
<!--            <th>标签</th>-->
<!--            <th>发布时间</th>-->
<!--            <th>推荐时间</th>-->
<!--            <th>Action</th>-->
<!--          </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--          <tr *ngFor="let data of homepageList">-->
<!--            <td width="250px">-->
<!--              <nz-tag-->
<!--                *ngIf="data.blogRecommend.recommendType === 1"-->
<!--                [nzColor]="'volcano'"-->
<!--                >主页</nz-tag-->
<!--              >-->
<!--              <nz-tag-->
<!--                *ngIf="data.blogRecommend.recommendType === 0"-->
<!--                [nzColor]="'cyan'"-->
<!--                >侧边栏</nz-tag-->
<!--              >-->
<!--              {{ data.blogRecommend.id }}-->
<!--            </td>-->
<!--            <td>-->
<!--              <nz-badge-->
<!--                nzStatus="success"-->
<!--                nzText="是"-->
<!--                *ngIf="data.blogRecommend.imageUrl"-->
<!--              ></nz-badge>-->
<!--              <nz-badge-->
<!--                nzStatus="error"-->
<!--                nzText="否"-->
<!--                *ngIf="!data.blogRecommend.imageUrl"-->
<!--              ></nz-badge>-->
<!--            </td>-->
<!--            <td width="350px">-->
<!--              <div-->
<!--                nz-popover-->
<!--                [nzPopoverContent]="contentTemplate"-->
<!--                nzPopoverPlacement="bottomLeft"-->
<!--                style="-->
<!--                  overflow: hidden;-->
<!--                  text-overflow: ellipsis;-->
<!--                  white-space: nowrap;-->
<!--                  width: 340px;-->
<!--                "-->
<!--              >-->
<!--                {{ data.title }}-->
<!--              </div>-->
<!--              <ng-template #contentTemplate>-->
<!--                <div style="width: 300px">-->
<!--                  {{ data.title }}-->
<!--                </div>-->
<!--              </ng-template>-->
<!--            </td>-->
<!--            <td>-->
<!--              <div-->
<!--                nz-popover-->
<!--                [nzPopoverContent]="contentTemplate1"-->
<!--                nzPopoverPlacement="bottomLeft"-->
<!--                style="-->
<!--                  overflow: hidden;-->
<!--                  text-overflow: ellipsis;-->
<!--                  white-space: nowrap;-->
<!--                  width: 120px;-->
<!--                "-->
<!--              >-->
<!--                {{ data.type }}-->
<!--              </div>-->
<!--              <ng-template #contentTemplate1>-->
<!--                <div style="width: 120px">-->
<!--                  {{ data.type }}-->
<!--                </div>-->
<!--              </ng-template>-->
<!--            </td>-->
<!--            <td>-->
<!--              <div-->
<!--                nz-popover-->
<!--                [nzPopoverContent]="contentTemplate2"-->
<!--                nzPopoverPlacement="bottomLeft"-->
<!--                style="-->
<!--                  overflow: hidden;-->
<!--                  text-overflow: ellipsis;-->
<!--                  white-space: nowrap;-->
<!--                  width: 120px;-->
<!--                "-->
<!--              >-->
<!--                {{ data.tag }}-->
<!--              </div>-->
<!--              <ng-template #contentTemplate2>-->
<!--                <div style="width: 120px">-->
<!--                  {{ data.tag }}-->
<!--                </div>-->
<!--              </ng-template>-->
<!--            </td>-->
<!--            <td>{{ data.createdTime | date: "yyyy-MM-dd HH:mm:ss" }}</td>-->
<!--            <td>-->
<!--              {{ data.blogRecommend.createdTime | date: "yyyy-MM-dd HH:mm:ss" }}-->
<!--            </td>-->
<!--            <td>-->
<!--              <a (click)="cancel(data.blogRecommend.id)">取消推荐</a>-->
<!--            </td>-->
<!--          </tr>-->
<!--        </tbody>-->
<!--      </nz-table>-->
<!--    </nz-card>-->
<!--  </nz-tab>-->
<!--  <nz-tab nzTitle="热门列表">-->
<!--    <nz-card>-->
<!--      <h2>热门推荐列表：</h2>-->
<!--      <nz-table #basicTable [nzData]="hotList" [nzFrontPagination]="false">-->
<!--        <thead>-->
<!--          <tr>-->
<!--            <th width="200px">ID</th>-->
<!--            <th>标题</th>-->
<!--            <th>分类</th>-->
<!--            <th>标签</th>-->
<!--            <th>创建时间</th>-->
<!--          </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--          <tr *ngFor="let data of hotList">-->
<!--            <td width="200px">{{ data.id }}</td>-->
<!--            <td width="350px">-->
<!--              <div-->
<!--                nz-popover-->
<!--                [nzPopoverContent]="contentTemplate"-->
<!--                nzPopoverPlacement="bottomLeft"-->
<!--                style="-->
<!--                  overflow: hidden;-->
<!--                  text-overflow: ellipsis;-->
<!--                  white-space: nowrap;-->
<!--                  width: 340px;-->
<!--                "-->
<!--              >-->
<!--                {{ data.title }}-->
<!--              </div>-->
<!--              <ng-template #contentTemplate>-->
<!--                <div style="width: 300px">-->
<!--                  {{ data.title }}-->
<!--                </div>-->
<!--              </ng-template>-->
<!--            </td>-->
<!--            <td>{{ data.type }}</td>-->
<!--            <td>{{ data.tag }}</td>-->
<!--            <td>{{ data.createdTime | date: "yyyy-MM-dd HH:mm:ss" }}</td>-->
<!--          </tr>-->
<!--        </tbody>-->
<!--      </nz-table>-->
<!--    </nz-card>-->
<!--  </nz-tab>-->
<!--</nz-tabset>-->
<!--<nz-modal-->
<!--  [nzWidth]="700"-->
<!--  [nzStyle]="{ top: '100px' }"-->
<!--  [(nzVisible)]="isVisibleAdd"-->
<!--  [nzTitle]="step[index].title"-->
<!--  (nzOnCancel)="handleCancelAdd()"-->
<!--  (nzOnOk)="handleOkAdd()"-->
<!--  [nzFooter]="modalFooter"-->
<!--&gt;-->
<!--  <ng-template #modalFooter>-->
<!--    <button nz-button nzType="default" (click)="handleCancelAdd()">取消</button>-->
<!--    <button nz-button nzType="primary" (click)="handleOkAdd()">-->
<!--      <span *ngIf="index === 1 || this.recommendName === '侧栏'">推荐</span>-->
<!--      <span *ngIf="index === 0 && this.recommendName === '主页'">下一步</span>-->
<!--    </button>-->
<!--  </ng-template>-->
<!--  <nz-steps-->
<!--    nzType="navigation"-->
<!--    [nzCurrent]="index"-->
<!--    (nzIndexChange)="onIndexChange($event)"-->
<!--    nzSize="small"-->
<!--    style="margin-bottom: 20px"-->
<!--  >-->
<!--    <nz-step-->
<!--      [nzTitle]="step[i].title"-->
<!--      [nzStatus]="step[i].state"-->
<!--      *ngFor="let data of step; let i = index"-->
<!--    ></nz-step>-->
<!--  </nz-steps>-->
<!--  <nz-card style="margin-top: 30px; height: 350px">-->
<!--    <div *ngIf="this.index === 0">-->
<!--      <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">-->
<!--        <input-->
<!--          type="text"-->
<!--          nz-input-->
<!--          placeholder="请输入搜索条件"-->
<!--          [(ngModel)]="searchInput"-->
<!--        />-->
<!--      </nz-input-group>-->
<!--      <ng-template #suffixButton>-->
<!--        <button nz-button nzType="primary" nzSearch (click)="recommendClick()">-->
<!--          搜索-->
<!--        </button>-->
<!--      </ng-template>-->
<!--      <nz-table-->
<!--        nzTableLayout="fixed"-->
<!--        [nzData]="listOfData"-->
<!--        nzSize="small"-->
<!--        [nzScroll]="{ y: '240px' }"-->
<!--        [nzFrontPagination]="false"-->
<!--        style="margin-top: 20px"-->
<!--      >-->
<!--        <tbody>-->
<!--          <tr-->
<!--            *ngFor="let data of listOfData"-->
<!--            style="height: 30px; padding: 0"-->
<!--            (click)="addRem(data, true)"-->
<!--          >-->
<!--            <td width="50px">-->
<!--              <label-->
<!--                nz-checkbox-->
<!--                [nzChecked]="checkedBlog(data.id)"-->
<!--                (nzCheckedChange)="addRem(data, $event)"-->
<!--              ></label>-->
<!--            </td>-->
<!--            <td nzLeft nzEllipsis width="120px">-->
<!--              <div-->
<!--                nz-popover-->
<!--                [nzPopoverContent]="contentTemplate"-->
<!--                nzPopoverPlacement="bottomLeft"-->
<!--                style="-->
<!--                  overflow: hidden;-->
<!--                  text-overflow: ellipsis;-->
<!--                  white-space: nowrap;-->
<!--                  width: 110px;-->
<!--                "-->
<!--              >-->
<!--                {{ data.type }}-->
<!--              </div>-->
<!--              <ng-template #contentTemplate>-->
<!--                <div>-->
<!--                  {{ data.type }}-->
<!--                </div>-->
<!--              </ng-template>-->
<!--            </td>-->
<!--            <td nzEllipsis width="120px">-->
<!--              <div-->
<!--                style="-->
<!--                  overflow: hidden;-->
<!--                  text-overflow: ellipsis;-->
<!--                  white-space: nowrap;-->
<!--                  width: 110px;-->
<!--                "-->
<!--              >-->
<!--                {{ data.type }}-->
<!--              </div>-->
<!--            </td>-->
<!--            <td nzEllipsis>-->
<!--              <div-->
<!--                style="-->
<!--                  overflow: hidden;-->
<!--                  text-overflow: ellipsis;-->
<!--                  white-space: nowrap;-->
<!--                  width: 230px;-->
<!--                "-->
<!--              >-->
<!--                {{ data.title }}-->
<!--              </div>-->
<!--            </td>-->
<!--          </tr>-->
<!--        </tbody>-->
<!--      </nz-table>-->
<!--    </div>-->
<!--    <div *ngIf="this.index === 1">-->
<!--      <nz-table-->
<!--        nzTableLayout="fixed"-->
<!--        [nzData]="checkList"-->
<!--        nzSize="small"-->
<!--        [nzScroll]="{ y: '240px' }"-->
<!--        [nzFrontPagination]="false"-->
<!--        style="margin-top: 20px"-->
<!--      >-->
<!--        <tbody>-->
<!--          <ng-container-->
<!--            *ngFor="let data of checkList"-->
<!--            style="height: 30px; padding: 0"-->
<!--          >-->
<!--            <tr>-->
<!--              <td-->
<!--                [nzExpand]="data.expand"-->
<!--                (nzExpandChange)="onExpandChange(data, $event)"-->
<!--                [nzShowExpand]="true"-->
<!--              ></td>-->
<!--              <td nzEllipsis width="120px">-->
<!--                <div-->
<!--                  style="-->
<!--                    overflow: hidden;-->
<!--                    text-overflow: ellipsis;-->
<!--                    white-space: nowrap;-->
<!--                    width: 110px;-->
<!--                  "-->
<!--                >-->
<!--                  {{ data.type }}-->
<!--                </div>-->
<!--              </td>-->
<!--              <td nzEllipsis>-->
<!--                <div-->
<!--                  style="-->
<!--                    overflow: hidden;-->
<!--                    text-overflow: ellipsis;-->
<!--                    white-space: nowrap;-->
<!--                    width: 250px;-->
<!--                  "-->
<!--                >-->
<!--                  {{ data.title }}-->
<!--                </div>-->
<!--              </td>-->
<!--            </tr>-->
<!--            <tr [nzExpand]="data.expand">-->
<!--              <td colspan="5">-->
<!--                <div class="clearfix" style="width: 100%">-->
<!--                  <nz-upload-->
<!--                    nzAction="https://www.zlztsb.com/blog/manage/file/image/upload"-->
<!--                    nzListType="picture"-->
<!--                    [(nzFileList)]="data.fileList"-->
<!--                    [nzShowButton]="data.fileList < 1"-->
<!--                    (nzChange)="handleChange($event, data)"-->
<!--                  >-->
<!--                    <button nz-button>-->
<!--                      <i nz-icon nzType="upload"></i>Upload-->
<!--                    </button>-->
<!--                  </nz-upload>-->
<!--                </div>-->
<!--              </td>-->
<!--            </tr>-->
<!--          </ng-container>-->
<!--        </tbody>-->
<!--      </nz-table>-->
<!--    </div>-->
<!--  </nz-card>-->
<!--</nz-modal>-->
