.left {
  float: left;
  margin-left: -400px;
  width: 390px;
}
.right {
  float: right;
  width: 100%;
}
.button {
  position: absolute;
  right: 23px;
  top: 25px;
}
.inner_text {
  font-size: 10px;
  letter-spacing: 1px;
  color: rgb(173, 153, 153);
}
